.container {
    display: flex;
}

.container > div {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;  
  flex: 1;
  margin: 2px;
}

.two {
    display: flex;
    align-items: flex-end;
}

.two div {
    background-color: aquamarine;
    border: 2px solid brown;
    height: 30px;
    flex: 1;
    margin: 4px;
}