* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.699);
    height: 100vh;
    width: 100vw;
    border: 4px dotted orange;
}

/* Sections */

nav, .main, .footer {
    border: 2px dotted green;
    width: 100vw;
    padding: 1rem;

}

nav {
    height: 10vh;
}

.main {
    height: 70vh;
    margin: 1rem 0;
}

.footer {
    height: 20vh;
}

/* Nav Bar */
nav {
    display: flex;
}

ul {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 8px;
    padding: 8px;
}

li a {
    color: inherit;
    text-decoration: none;
    font-size: 1.75rem;
}

nav button {
    border-radius: 4px;
    padding: 8px 16px;
    margin: 4px;
    border: 0.5px dotted black;
}

li.Logo {
    margin-right: auto;
}

.Logo a {
    font-size: 3.75rem;
    letter-spacing: -0.3rem;
}

/* Responsive Navbar */

/* Medium screens */

@media all and (max-width: 800px) {
    ul {
        justify-content: space-around;
    }
}

/* Small screens */

@media all and (max-width: 500px) {
    ul {
        flex-direction: column;
    }
}

/* Main */

.main {
    display: flex;
}

.main-left {
    flex: 1;
    border: 2px dotted purple;
    margin-right: 4px;
}

.main-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1;
    border: 2px dotted purple;
}

.main-right li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6.75rem;
    background-color: orange;
    width: 300px; 
    height: 300px;
}



